<div class="container">
    <button class="btn-success mt-4 w-100 bg-primary text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa fa-plus"></i>
      Add Product
    </button>

  <hr>

  <div class="row">
    <div class="col-md-3 mt-2" *ngFor="let product of products"> <!--col-md-3 == 1 satırda 4 kolon olsun  anlamına geliyor//// mt-2 rowlar arasında boşluk olsun anlamına geliyor. // ngFor ile ts dosyasındaki products arrayindeki elemanlar kadar kayıt üret diyoruz.-->
      <div class="card" style="width: 18rem;">
        <img [src]="product.productImage" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.productName}}</h5>
          <button class="btn btn-primary w-100 mt-2" (click)="addToCart(product)">
            <i class="fa-solid fa-basket-shopping"></i>
              Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="productName">Product Name</label>
          <input type="text" [(ngModel)]="product.productName" id="productName" class="form-control">
        </div>
        <div class="form-group mt-2">
          <label for="productimage">Product Image</label>
          <input type="text" [(ngModel)]="product.productImage" id="productimage" class="form-control">
        </div>
        <div class="form-group mt-2">
          <button class="btn btn-primary w-100" (click)="createProduct()">
            Create Product
          </button> <!--w-100 butonu uzatmayı sağladı. -->
        </div>
      </div>
    </div>
  </div>
</div>
